{"openapi":"3.0.1","info":{"title":"Finanzas API","description":"API for Finanzas project with UFPS architecture","termsOfService":"http://swagger.io/terms/","license":{"name":"Apache 2.0","url":"http://springdoc.org"},"version":"0.0.1"},"servers":[{"url":"https://finanzas-api.ubunifusoft.digital","description":"Servidor de Producción (HTTPS)"},{"url":"http://localhost:8099","description":"Servidor Local"}],"tags":[{"name":"Status","description":"Monitor the status of the API"}],"paths":{"/api/workspaces/{workspaceId}/miembros/{usuarioId}/rol":{"put":{"tags":["workspace-controller"],"operationId":"updateRole","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"usuarioId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiString"}}}}}}},"/api/presupuestos/items/{id}":{"put":{"tags":["budget-controller"],"operationId":"updateItem","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetItemRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiBudgetItemDTO"}}}}}}},"/api/items-recurrentes/{id}":{"put":{"tags":["item-recurrente-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRecurrenteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiItemRecurrenteDTO"}}}}}},"delete":{"tags":["item-recurrente-controller"],"operationId":"delete_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiVoid"}}}}}}},"/api/cuentas/{id}":{"put":{"tags":["cuenta-controller"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CuentaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiCuentaDTO"}}}}}},"delete":{"tags":["cuenta-controller"],"operationId":"delete_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiVoid"}}}}}}},"/api/credit-cards/{id}":{"put":{"tags":["credit-card-controller"],"operationId":"update_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditCardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiCreditCardDTO"}}}}}},"delete":{"tags":["credit-card-controller"],"operationId":"delete_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiVoid"}}}}}}},"/api/categorias/{id}":{"put":{"tags":["categoria-controller"],"operationId":"update_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoriaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiCategoriaDTO"}}}}}},"delete":{"tags":["categoria-controller"],"operationId":"delete_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiVoid"}}}}}}},"/api/beneficiarios/{id}":{"put":{"tags":["beneficiario-controller"],"operationId":"update_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeneficiarioRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiBeneficiarioDTO"}}}}}},"delete":{"tags":["beneficiario-controller"],"operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiVoid"}}}}}}},"/api/workspaces/{workspaceId}/miembros":{"get":{"tags":["workspace-controller"],"operationId":"listMembers","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListWorkspaceMemberDTO"}}}}}},"post":{"tags":["workspace-controller"],"operationId":"inviteMember","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiString"}}}}}}},"/api/workspaces/{id}/seleccionar":{"post":{"tags":["workspace-controller"],"operationId":"seleccionar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiString"}}}}}}},"/api/transactions":{"get":{"tags":["transaction-controller"],"operationId":"list","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListTransactionDTO"}}}}}},"post":{"tags":["transaction-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiTransactionDTO"}}}}}}},"/api/presupuestos/generar":{"post":{"tags":["budget-controller"],"operationId":"generateBudget","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BudgetGenerateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiBudgetDTO"}}}}}}},"/api/items-recurrentes":{"get":{"tags":["item-recurrente-controller"],"operationId":"list_1","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"tipo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListItemRecurrenteDTO"}}}}}},"post":{"tags":["item-recurrente-controller"],"operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRecurrenteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiItemRecurrenteDTO"}}}}}}},"/api/cuentas":{"get":{"tags":["cuenta-controller"],"operationId":"list_2","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListCuentaDTO"}}}}}},"post":{"tags":["cuenta-controller"],"operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CuentaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiCuentaDTO"}}}}}}},"/api/credit-cards":{"get":{"tags":["credit-card-controller"],"operationId":"list_3","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListCreditCardDTO"}}}}}},"post":{"tags":["credit-card-controller"],"operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditCardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiCreditCardDTO"}}}}}}},"/api/credit-cards/{id}/pagos":{"post":{"tags":["credit-card-controller"],"operationId":"registerPayment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreditCardPaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiVoid"}}}}}}},"/api/categorias":{"get":{"tags":["categoria-controller"],"operationId":"list_4","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListCategoriaDTO"}}}}}},"post":{"tags":["categoria-controller"],"operationId":"create_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoriaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiCategoriaDTO"}}}}}}},"/api/beneficiarios":{"get":{"tags":["beneficiario-controller"],"operationId":"list_5","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListBeneficiarioDTO"}}}}}},"post":{"tags":["beneficiario-controller"],"operationId":"create_5","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeneficiarioRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiBeneficiarioDTO"}}}}}}},"/api/auth/registro":{"post":{"tags":["auth-controller"],"operationId":"registrar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiAuthResponse"}}}}}}},"/api/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiAuthResponse"}}}}}}},"/status":{"get":{"tags":["Status"],"summary":"Check API availability","description":"Returns a simple message if the API is running correctly.","operationId":"getStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiString"}}}}}}},"/api/workspaces":{"get":{"tags":["workspace-controller"],"operationId":"listMyWorkspaces","parameters":[{"name":"usuarioId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListWorkspaceDTO"}}}}}}},"/api/reportes/presupuesto-vs-real":{"get":{"tags":["report-controller"],"operationId":"getBudgetVsReal","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"anio","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"mes","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListBudgetVsRealDTO"}}}}}}},"/api/reportes/gastos-por-categoria":{"get":{"tags":["report-controller"],"operationId":"getExpensesByCategory","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"anio","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"mes","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListCategoryReportDTO"}}}}}}},"/api/presupuestos/{anio}/{mes}":{"get":{"tags":["budget-controller"],"operationId":"getBudget","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"anio","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"mes","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiBudgetDTO"}}}}}}},"/api/presupuestos/{anio}/{mes}/resumen":{"get":{"tags":["budget-controller"],"operationId":"getSummary","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"anio","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"mes","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiBudgetDTO"}}}}}}},"/api/dashboard/resumen-mensual":{"get":{"tags":["dashboard-controller"],"operationId":"getMonthlySummary","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"anio","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"mes","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiDashboardSummaryDTO"}}}}}}},"/api/dashboard/flujo-caja":{"get":{"tags":["dashboard-controller"],"operationId":"getYearlyCashFlow","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"anio","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListMapStringObject"}}}}}}},"/api/cuentas/{id}/saldo":{"get":{"tags":["cuenta-controller"],"operationId":"getSaldo","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiBigDecimal"}}}}}}},"/api/cuentas/resumen":{"get":{"tags":["cuenta-controller"],"operationId":"getResumen","parameters":[{"name":"workspaceId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListMapStringObject"}}}}}}},"/api/credit-cards/{id}/utilizacion":{"get":{"tags":["credit-card-controller"],"operationId":"getUtilization","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiBigDecimal"}}}}}}},"/api/credit-cards/{id}/resumen":{"get":{"tags":["credit-card-controller"],"operationId":"getSummary_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiCreditCardSummaryDTO"}}}}}}},"/api/credit-cards/{id}/cargos":{"get":{"tags":["credit-card-controller"],"operationId":"getCharges","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListTransactionDTO"}}}}}}},"/api/credit-cards/{id}/cargos-detalle":{"get":{"tags":["credit-card-controller"],"operationId":"getChargesDetailed","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiListCargoTarjetaDTO"}}}}}}},"/api/auth/me":{"get":{"tags":["auth-controller"],"operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiString"}}}}}}},"/api/workspaces/{workspaceId}/miembros/{usuarioId}":{"delete":{"tags":["workspace-controller"],"operationId":"removeMember","parameters":[{"name":"workspaceId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"usuarioId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiString"}}}}}}},"/api/transactions/{id}":{"delete":{"tags":["transaction-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResponseApiVoid"}}}}}}}},"components":{"schemas":{"ResponseApiString":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"string"}}},"BudgetItemRequest":{"type":"object","properties":{"workspaceId":{"type":"integer","format":"int64"},"periodoId":{"type":"integer","format":"int32"},"itemRecurrenteId":{"type":"integer","format":"int32"},"montoPlaneado":{"type":"number"},"estado":{"type":"string"},"fechaVencimiento":{"type":"string","format":"date"},"notas":{"type":"string"}}},"BudgetItemDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"itemRecurrenteNombre":{"type":"string"},"categoriaNombre":{"type":"string"},"montoPlaneado":{"type":"number"},"montoEjecutado":{"type":"number"},"estado":{"type":"string"},"tipo":{"type":"string"},"fechaVencimiento":{"type":"string","format":"date"}}},"ResponseApiBudgetItemDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/BudgetItemDTO"}}},"ItemRecurrenteRequest":{"type":"object","properties":{"workspaceId":{"type":"integer","format":"int64"},"tipo":{"type":"string"},"nombre":{"type":"string"},"categoriaId":{"type":"integer","format":"int32"},"beneficiarioId":{"type":"integer","format":"int32"},"modoMonto":{"type":"string"},"montoDefecto":{"type":"number"},"fechaInicio":{"type":"string","format":"date"},"fechaFin":{"type":"string","format":"date"},"notas":{"type":"string"}}},"ItemRecurrenteDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"tipo":{"type":"string"},"nombre":{"type":"string"},"categoriaId":{"type":"integer","format":"int32"},"categoriaNombre":{"type":"string"},"beneficiarioId":{"type":"integer","format":"int32"},"beneficiarioNombre":{"type":"string"},"frecuencia":{"type":"string"},"modoMonto":{"type":"string"},"montoDefecto":{"type":"number"},"fechaInicio":{"type":"string","format":"date"},"fechaFin":{"type":"string","format":"date"},"activo":{"type":"boolean"},"notas":{"type":"string"}}},"ResponseApiItemRecurrenteDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/ItemRecurrenteDTO"}}},"CuentaRequest":{"type":"object","properties":{"workspaceId":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"tipo":{"type":"string"},"moneda":{"type":"string"},"saldoInicial":{"type":"number"}}},"CuentaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"nombre":{"type":"string"},"tipo":{"type":"string"},"moneda":{"type":"string"},"saldoInicial":{"type":"number"},"activa":{"type":"boolean"},"creadaEn":{"type":"string","format":"date-time"}}},"ResponseApiCuentaDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CuentaDTO"}}},"CreditCardRequest":{"type":"object","properties":{"workspaceId":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"moneda":{"type":"string"},"cupo":{"type":"number"},"diaCorte":{"type":"integer","format":"int32"},"diaPago":{"type":"integer","format":"int32"}}},"CreditCardDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"nombre":{"type":"string"},"moneda":{"type":"string"},"cupo":{"type":"number"},"diaCorte":{"type":"integer","format":"int32"},"diaPago":{"type":"integer","format":"int32"},"activa":{"type":"boolean"},"creadaEn":{"type":"string","format":"date-time"}}},"ResponseApiCreditCardDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CreditCardDTO"}}},"CategoriaRequest":{"type":"object","properties":{"workspaceId":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"tipo":{"type":"string"}}},"CategoriaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"nombre":{"type":"string"},"tipo":{"type":"string"},"activa":{"type":"boolean"}}},"ResponseApiCategoriaDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CategoriaDTO"}}},"BeneficiarioRequest":{"type":"object","properties":{"workspaceId":{"type":"integer","format":"int64"},"nombre":{"type":"string"}}},"BeneficiarioDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"nombre":{"type":"string"},"activo":{"type":"boolean"}}},"ResponseApiBeneficiarioDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/BeneficiarioDTO"}}},"InviteMemberRequest":{"required":["email","rol"],"type":"object","properties":{"email":{"type":"string"},"rol":{"type":"string"}}},"TransactionRequest":{"type":"object","properties":{"workspaceId":{"type":"integer","format":"int64"},"tipo":{"type":"string"},"categoriaId":{"type":"integer","format":"int32"},"beneficiarioId":{"type":"integer","format":"int32"},"itemPresupuestoId":{"type":"integer","format":"int64"},"fecha":{"type":"string","format":"date"},"monto":{"type":"number"},"descripcion":{"type":"string"},"medioPago":{"type":"string"},"cuentaId":{"type":"integer","format":"int32"},"tarjetaCreditoId":{"type":"integer","format":"int32"}}},"ResponseApiTransactionDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/TransactionDTO"}}},"TransactionDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"tipo":{"type":"string"},"categoriaNombre":{"type":"string"},"beneficiarioNombre":{"type":"string"},"fecha":{"type":"string","format":"date"},"monto":{"type":"number"},"descripcion":{"type":"string"},"medioPago":{"type":"string"},"fuenteNombre":{"type":"string"},"creadaEn":{"type":"string","format":"date-time"}}},"BudgetGenerateRequest":{"type":"object","properties":{"workspaceId":{"type":"integer","format":"int64"},"anio":{"type":"integer","format":"int32"},"mes":{"type":"integer","format":"int32"}}},"BudgetDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"anio":{"type":"integer","format":"int32"},"mes":{"type":"integer","format":"int32"},"totalPlaneado":{"type":"number"},"totalEjecutado":{"type":"number"},"items":{"type":"array","items":{"$ref":"#/components/schemas/BudgetItemDTO"}}}},"ResponseApiBudgetDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/BudgetDTO"}}},"CreditCardPaymentRequest":{"type":"object","properties":{"cuentaId":{"type":"integer","format":"int32"},"monto":{"type":"number"},"fecha":{"type":"string","format":"date"},"descripcion":{"type":"string"},"saldarCargos":{"type":"boolean"}}},"ResponseApiVoid":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"object"}}},"RegisterRequest":{"required":["email","nombre","password"],"type":"object","properties":{"nombre":{"type":"string"},"email":{"type":"string"},"password":{"maxLength":2147483647,"minLength":6,"type":"string"}}},"AuthResponse":{"type":"object","properties":{"token":{"type":"string"},"email":{"type":"string"},"nombre":{"type":"string"},"workspaces":{"type":"array","items":{"$ref":"#/components/schemas/WorkspaceDTO"}}}},"ResponseApiAuthResponse":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/AuthResponse"}}},"WorkspaceDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"}}},"LoginRequest":{"required":["email","password"],"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}}},"ResponseApiListWorkspaceDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/WorkspaceDTO"}}}},"ResponseApiListWorkspaceMemberDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/WorkspaceMemberDTO"}}}},"WorkspaceMemberDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nombre":{"type":"string"},"email":{"type":"string"},"rol":{"type":"string"},"creadoEn":{"type":"string","format":"date-time"}}},"ResponseApiListTransactionDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TransactionDTO"}}}},"BudgetVsRealDTO":{"type":"object","properties":{"nombre":{"type":"string"},"categoria":{"type":"string"},"montoPlaneado":{"type":"number"},"montoReal":{"type":"number"},"desviacion":{"type":"number"},"estado":{"type":"string"}}},"ResponseApiListBudgetVsRealDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BudgetVsRealDTO"}}}},"CategoryReportDTO":{"type":"object","properties":{"categoria":{"type":"string"},"total":{"type":"number"},"color":{"type":"string"}}},"ResponseApiListCategoryReportDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CategoryReportDTO"}}}},"ResponseApiListItemRecurrenteDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ItemRecurrenteDTO"}}}},"DashboardSummaryDTO":{"type":"object","properties":{"totalIngresos":{"type":"number"},"totalGastos":{"type":"number"},"balanceNeto":{"type":"number"}}},"ResponseApiDashboardSummaryDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/DashboardSummaryDTO"}}},"ResponseApiListMapStringObject":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}},"ResponseApiListCuentaDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CuentaDTO"}}}},"ResponseApiBigDecimal":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"number"}}},"ResponseApiListCreditCardDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CreditCardDTO"}}}},"CreditCardSummaryDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"nombre":{"type":"string"},"cupo":{"type":"number"},"utilizacion":{"type":"number"},"disponible":{"type":"number"},"deudaPendiente":{"type":"number"},"diaCorte":{"type":"integer","format":"int32"},"diaPago":{"type":"integer","format":"int32"}}},"ResponseApiCreditCardSummaryDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"$ref":"#/components/schemas/CreditCardSummaryDTO"}}},"CargoTarjetaDTO":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"transaccionId":{"type":"integer","format":"int64"},"descripcion":{"type":"string"},"fecha":{"type":"string","format":"date"},"monto":{"type":"number"},"cuotas":{"type":"integer","format":"int32"},"creadoEn":{"type":"string","format":"date-time"}}},"ResponseApiListCargoTarjetaDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CargoTarjetaDTO"}}}},"ResponseApiListCategoriaDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CategoriaDTO"}}}},"ResponseApiListBeneficiarioDTO":{"type":"object","properties":{"mensaje":{"type":"string"},"status":{"type":"integer","format":"int32"},"data":{"type":"array","items":{"$ref":"#/components/schemas/BeneficiarioDTO"}}}}}}}
